<h1>Spelling Bee Parser</h1>

<div class="row gy-4">
    <div class="col-md border-end">
        <h3>How it works</h3>
        <ol>
            <li>Click "Share Your Achievement" button</li>
            <li>Click "Copy link" option</li>
            <li>Past Share URL in form below</li>
        </ol>

        <%= form_with method: :get do |form| %>
            <div class="mb-3">
                <%= form.label :url, "Spelling Bee Share URL", class: "form-label" %>
                <%= form.text_field :url, value: @url, class: "form-control" %>
            </div>
            <%= form.submit "Generate Chat Share Text", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="col-md">
        <% if @url.present? && @score.nil? %>
            <div class="alert alert-warning" role="alert">
                <h3>Uh, what?</h3>
                <p>I don't understand what you submitted. Are you sure you followed the instructions?</p>
            </div>
        <% end %>

        <% if @score.present? %>
            <div data-controller="clipboard">
                <h3>Your Share Results</h3>
                <p data-clipboard-target="source" class="alert alert-light" role="alert">
                🐝 Spelling Bee: <%= @score.date.to_fs(:long) %><br />
                🥇 Rank: <%= @score.rank %><br />
                ⭐ Points: <%= @score.points %><br />
                🖕 Beat my score, you coward:<br />
                <a href="https://www.nytimes.com/puzzles/spelling-bee">https://www.nytimes.com/puzzles/spelling-bee</a>
                </p>
                <button type="button" data-clipboard-target="button" data-action="clipboard#copy" class="btn btn-success">
                    Copy to Clipboard
                </button>
            </div>
        <% end %>
    </div>
</div>
